body {
  font-family: Arial, sans-serif;
  background-color: #A6C1EE; /* 外側の背景色をパステルブルーに設定 */
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff; /* 内側のコンテンツ部分の背景色 */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.song {
  margin-bottom: 40px;
}

.song h2 {
  color: #333;
}

.song img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.song p {
  color: #666;
}

.back-to-home {
  display: inline-block;
  padding: 10px 20px; /* ボタンの内側の余白を設定 */
  border-radius: 25px; /* ボタンの角を丸くする */
  text-decoration: none; /* リンクの下線を消す */
  background-color: #D61DC4; /* ボタンの背景色 */
  color: #fff; /* ボタンの文字色 */
  font-weight: bold; /* ボタンの文字を太字にする */
  text-align: center; /* 文字を中央に配置 */
  transition: background-color 0.3s ease; /* 背景色変更のトランジション設定 */
}

/* ホバー時のスタイル */
.back-to-home:hover {
  background-color: #C41BB2; /* ホバー時の背景色 */
}